[submodule "layers/meta-poky-honister"]
	path = layers/meta-poky-honister
	url = git://git.yoctoproject.org/poky
[submodule "layers/meta-raspberrypi"]
	path = layers/meta-raspberrypi
	url = git://git.yoctoproject.org/meta-raspberrypi
[submodule "layers/meta-openembedded"]
	path = layers/meta-poky-honister/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
[submodule "layers/meta-qt5"]
	path = layers/meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
